<div class="container">
  <div class="row">
    <div class="col-2 scrollable">
      <% @movies.each do |movie| %>
        <%= turbo_frame_tag movie do %>
          <section class="movie">
            <div class="image vstack row-gap-2">
              <%= link_to(movie_path(movie), turbo_method: :get, data: { turbo_stream: true }) do %>
                <%= main_image(movie) %>
              <% end %>
              <%= turbo_frame_tag "favorite-#{movie.id}" do %>
                <%= render(partial: "favorite", locals: { movie: movie }) %>
              <% end %>
            </div>
          </section>
        <% end %>
      <% end %>
    </div>
    <div class="col-10">
      <%= turbo_frame_tag "selected-movie" do %>
        <p>Please select a movie from the list</p>
      <% end %>
    </div>
  </div>
</div>


<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Add New Movie", new_movie_path, class: "button" %>
  </section>
<% end %>
